# First make sure to update pip:
#     $ sudo pip install --upgrade pip
#
# Then you probably want to work in a virtualenv (optional):
#     $ sudo pip install --upgrade virtualenv
# Or if you prefer you can install virtualenv using your favorite packaging system. E.g., in Ubuntu:
#     $ sudo apt-get update && sudo apt-get install virtualenv
# Then:
#     $ cd $my_work_dir
#     $ virtualenv my_env
#     $ . my_env/bin/activate
#
# Next, optionally uncomment the OpenAI gym lines (see below). If you do, make sure to install the dependencies first.
#
# Then install these requirements:
#     $ pip install --upgrade -r requirements.txt
# 
# Finally, start jupyter:
#     $ jupyter notebook
#
jupyter==1.0.0
matplotlib==3.5.1
numexpr==2.8.1
numpy==1.21.5
pandas==1.3.5
Pillow==9.0.1
scikit-learn==1.0.2
scipy==1.7.3
sympy==1.0
tensorflow>=1.6.0
tqdm>=3.10
plotly==5.6.0